<!DOCTYPE html>
<html lang=en>
    <head>
        <title>InjetTV - Paradas</title>
        <meta charset=UTF-8>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <link rel=stylesheet href=/assets/css/materialize.min.css />
        <link rel=stylesheet href=/styles/css/paradas.css />
        <style>
        img {
            position: absolute;
            right: 0;
            top: 0;
            margin: 25px 25px 0 0;
        }
    </style>
        <script>
            let secondsTransition = '<%=secondsTransition%>';
            let nextPage = '<%=nextPage%>';
        </script>
    </head>
    <body style="background-color: <%=cor_fundo%>;">
        <img src="<%=logo%>" alt=logo width=150 height=150>
        <main>
            <div class=row>
                <div class="col s1">
                    <button class="light-blue darken-2 right btn waves-effect waves-light"id=clear>
                        <i class="material-icons">clear</i>                                
                        <i class="material-icons">home</i>
                    </button>
                </div>
                <h1 class=center-align>Paradas | Alertas</h1>
                <div class="container">
                    <div class="col l12">
                        <div class="descricao row valign-wrapper">
                            <div class="item flex-item-1">
                                Máquina
                            </div>
                            <div class="item flex-item-1">
                                Descrição
                            </div>
                            <div class="item flex-item-1">
                                Duração (HH:MM:SS)
                            </div>
                        </div>
                        <% pts.forEach((pt) => { %>
                            <div class="row valign-wrapper flex">
                                <div class="item flex-item-1" style="color: <%= pt.cor %>">
                                    <%= pt.cdPt %>
                                </div>
                                <div class="item flex-item-1" style="color: <%= pt.cor %>">
                                    <%= pt.descricao %>
                                </div>
                                <div class="item flex-item-1" style="color: <%= pt.cor %>">
                                    <%= pt.tempo %>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </main>
        <script src=/assets/jquery.min.js></script>
        <script src=/scripts/carousel.js></script>
        <script src=/scripts/clear.js></script>
    </body>
</html>